<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>南城丶天猫淘宝优惠店</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div align="center">
    <p th:text="'Hello, ---南城丶天猫淘宝优惠店--- 欢迎您!'" style="font-size: xx-large"/>
    <div>
        <a href="http://t.cn/Ec8yUoe" style="margin-right: 5%; font-size: xx-large">进入店铺</a>
        <a href="https://jq.qq.com/?_wv=1027&k=5lGfi4g" style="margin-left: 5%; font-size: xx-large">加入群聊</a>
    </div>
    <img src="/static/img/demo.png" th:src="@{/img/WechatIMG6.jpeg}">
    <img src="/static/img/demo.png" th:src="@{/img/WechatIMG7.jpeg}">
    <img src="/static/img/demo.png" th:src="@{/img/WechatIMG8.jpeg}">
</div>
</body>
</html>